@font-face {
	font-family: roboto-lg;
	src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: roboto;
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: roboto-md;
	src: url('../fonts/Roboto/Roboto-Medium.ttf');
}