$bar-bg-color: #353535;
$bar-text-color: #ffffff;
$logo-bg-color: #282828;
$navbar-text-color: #7a7a7a;
$seetings-tab-color: #fc4236;
$analytics-tab-color: #ddbe10;
$messages-tab-color: #09aac7;
$dashboard-tab-color: #07c638;
$body-bg-color: #e0e0e0;